<div class="container">
    <div class="text-center mb-3">
        <form class="form" asp-action="Edit">
            <div class="mb-3">
                <h2 class="display-4">Formulario de Edicion de Eqquipos</h2>
                <h3>Porfavor seleccione el nuevo coach y la nueva liga del equipo.</h3>
            </div>
            <div class="mb-3">
                <label for="newCoach">Ingrese el nombre del nuevo Coach aqui</label>
            </div>
            <div class="mb-3">
                 <input type="text" class="form-control" name="newCoach" />
            </div>
            <div class="mb-3">
                <label for="newLeague">Ingrese la nueva liga del equipo aqui</label>
            </div>
             <div class="mb-3">
                <input type="text" class="form-control" name="newLeague" />                
            </div>
            <input type="submit" class="btn btn-danger" />
        </form>
    </div>
</div>
