@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<div class="container">

    <!-- Main Content-->
    <div class="masthead">
        <div class="form-group gy-5 my-5" >
            <label for="buscar">Buscar en la tabla</label>
            <input class="form-control gy-5 my-5" type="text" id="buscar">
            <input type="submit" value="Buscar" class="btn btn-primary" onclick="buscar()" />
        </div>
        <div class="d-flex justify-content-around align-content-center">
            <input type="submit" value="Nombre de Equipo" class="btn btn-primary" onclick="buscarEspecifico('nameEquipo')" />
            <input type="submit" value="Coach" class="btn btn-primary" onclick="buscarEspecifico('nameCoach')" />
            <input type="submit" value="Fecha de Creacion" class="btn btn-primary" onclick="buscarEspecifico('dateCreation')" />
            <input type="submit" value="Liga" class="btn btn-primary" onclick="buscarEspecifico('range')" />

        </div>
        <div class="table-responsive">
            <div id="products"></div>
            <table class="table table-hover text-center" id="tabla" data-sort="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Item</th>
                        <th>Nombre de Equipo</th>
                        <th>Coach</th>
                        <th>Fecha de Creación</th>
                        <th>Liga</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <th scope=col>1</th>
                        <td id="nameEquipo">Team Liquid</td>
                        <td id="nameCoach">Flusha</td>
                        <td id="dateCreation">01/01/2015</td>
                        <td id="range">Global Elite</td>
                    </tr>
                    <tr>
                        <th scope=col>2</th>
                        <td id="nameEquipo">NaVi</td>
                        <td id="nameCoach">JW</td>
                        <td id="dateCreation">06/01/2015</td>
                        <td id="range">Silver I</td>
                    </tr>
                    <tr>
                        <th scope=col>3</th>
                        <td id="nameEquipo">Faze Clan</td>
                        <td id="nameCoach">Krimz</td>
                        <td id="dateCreation">12/15/2014</td>
                        <td id="range">Nova II</td>
                    </tr>
                    <tr>
                        <th scope=col>4</th>
                        <td id="nameEquipo">Cloud9</td>
                        <td id="nameCoach">Taco</td>
                        <td id="dateCreation">01/20/2016</td>
                        <td id="range">AK doble</td>
                    </tr>
                    <tr>
                        <th scope=col>5</th>
                        <td id="nameEquipo">Fnatic</td>
                        <td id="nameCoach">nitr0</td>
                        <td id="dateCreation">01/20/2016</td>
                        <td id="range">Sherif</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
